body {
    margin: 0;
    margin-left: 4px;
    margin-top: 2px;
    font-size: .87rem;
	color: rgb(76,96,123);
	font-family: Arial, sans-serif;
}
table {
	table-layout: fixed;
	width: 561px;
}
#head
{
	color: lightslategray;
}
th {
    height: 22px;
    background-color: rgb(227,234,243);  
	font-family: Arial;
	font-size: 11px;
	text-transform: uppercase;
}
td {
    height: 48px;
    width: 128px;
}
.name {
	text-transform: capitalize;
}
.first {
    background-color: rgb(242,246,250);
	text-indent: 14px;
}
.second {
    background-color: rgb(232,237,244);
	text-indent: 14px;
}
.need1 {
    width: 128px;
}
.need2 {
    width: 131px;
}
.need3 {
    width: 190px;
}
.need4 {
    width: 112px;
}
.first:hover,.second:hover {
	background-color: rgb(226,229,233);
}