.arrow-box {
	display: inline-block;
	background-color: rgb(136,183,213);
	height: 92px;
	width: 370px;
	border: 4px solid rgb(194,225,245);
	padding: 10px;
	padding-bottom: 0px;
	color: white;
	margin: 30px;
}
.arrow-box:before {
	content: "";
	display: block;
	position: absolute;
	border-bottom: 27px solid rgb(136,183,213);
	border-left: 27px solid transparent;
	border-right: 27px solid transparent;
	top: 15px;
	left: 205px;
	z-index: 1;
}
.arrow-box:after {
	content: "";
	display: block;
	position: absolute;
	border-bottom: 32px solid rgb(194,225,245);
	border-left: 32px solid transparent;
	border-right: 32px solid transparent;
	top: 10px;
	left: 200px;
}
